<!DOCTYPE html>
<html>
  <head>
    <% include bootstrap/head %>
  </head>
  <body class="signup">
    <div class="container">
      <div class="col-sm-6 mx-auto">
        <div class="card mt-5">
          <div class="card-body">
            <h1 class="text-center">
              <span class="fa fa-user"></span> Actualizar información
            </h1>
            <!-- <form action="/nextgame/<%= user._id %>?win=1&_method=PUT" method="post">   --> 
            <form action="/profile/<%= user._id %>?_method=PUT" method="post">  
              <div class="form-group">
                <strong>Hi</strong> <%= user.local.username %> <br>
                <input type="hidden"  name="_method" value="PUT"><br>
                <strong>email</strong> : <%= user.local.email %> <br>
                <input type="text" name="email" value="<%= user.local.email %>"><br>
                <strong>name</strong> : <%= user.local.username %> <br>
                <input type="text" name="username" value="<%= user.local.username %>"><br>
                <strong>nationality</strong> : <%= user.local.nationality %> <br>
                <input type="text" name="nationality" value="<%= user.local.nationality %>"><br>
                
              </div>
              <button type="submit"> UPDATE </button>
            </form>
            <br>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
